@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {
    /* Colours */
    --color-neutral-900: hsl(243, 96%, 9%);
    --color-neutral-800: hsl(243, 27%, 20%);
    --color-neutral-700: hsl(243, 23%, 24%);
    --color-neutral-600: hsl(243, 23%, 30%);
    --color-neutral-300: hsl(240, 6%, 70%);
    --color-neutral-200: hsl(250, 6%, 84%);
    --color-orange-500: hsl(28, 100%, 52%);
    --color-blue-500: hsl(233, 67%, 56%);
    --color-blue-700: hsl(248, 70%, 36%);

    /* Typography */
    --font-dm-sans: "DM Sans", sans-serif;
    --font-bricolage: "Bricolage Grotesque", sans-serif;
}

@utility outline-box {
    @apply bg-neutral-800 ring-1 ring-neutral-600;
}

@utility outline-box-2 {
    @apply bg-neutral-700 ring-1 ring-neutral-600;
}

/* Typography */

@utility text-style-1 {
    @apply font-dm-sans italic font-semibold text-8xl tracking-[-2px];
}

@utility text-style-2 {
    @apply font-bricolage font-bold leading-[120%] text-[3.25rem] tracking-normal;
}

@utility text-style-3 {
    @apply font-dm-sans font-light leading-none text-[2rem] tracking-normal;
}

@utility text-style-4 {
    @apply font-dm-sans font-bold leading-[120%] text-[1.75rem] tracking-normal;
}

@utility text-style-5 {
    @apply font-dm-sans font-semibold leading-[120%] text-xl tracking-normal;
}

@utility text-style-5m {
    @apply text-style-5 font-medium;
}

@utility text-style-6 {
    @apply font-dm-sans font-medium leading-[120%] text-lg tracking-normal;
}

@utility text-style-7 {
    @apply font-dm-sans font-medium leading-[120%] text-base tracking-normal;
}

@utility text-style-8 {
    @apply font-dm-sans font-medium leading-[120%] text-sm tracking-normal;
}

@layer base {
    .search-form {
        @apply relative inline-block;

        .icon-search {
            @apply absolute h-full left-6 w-6 z-2;

            &::before {
                @apply absolute bg-center bg-no-repeat left-0 h-full w-full;
                background-image: url('./assets/images/icon-search.svg');
                content: '';
            }
        }

        .input-text {
            @apply bg-neutral-800 p-4 pl-[3.75rem] mr-2 rounded-xl text-style-5m w-[526px] placeholder:text-neutral-200;
    
            &:focus {
                @apply inset-ring-3 inset-ring-neutral-900 outline-0 ring-2 ring-white;
            }
    
            &:hover {
                @apply bg-neutral-700;
            }
        }
    }

    .button-primary {
        @apply bg-blue-500 ml-2 px-6 py-4 rounded-xl text-style-5m;

        &:focus {
            @apply inset-ring-3 inset-ring-neutral-900 outline-0 ring-2 ring-blue-500;
        }
    
        &:hover {
            @apply bg-blue-700;
        }
    }

    /* Location */
    .location {
        @apply aspect-[2.7972028] bg-linear-to-br bg-no-repeat bg-cover bg-center col-span-2 flex flex-nowrap from-blue-500 to-blue-700 items-center justify-between p-6 rounded-[calc(var(--radius-2xl)+4px)];
        background-image: url('./assets/images/bg-today-large.svg');
    }

    /* Weather Details component */
    .weather-details {
        @apply col-span-2 grid grid-cols-4 gap-6;

        .detail {
            @apply outline-box p-5 rounded-xl;

            .detail-label {
                @apply mb-6 text-neutral-200 text-style-6;
            }

            .detail-value {
                @apply text-style-3;
            }
        }
    }

    .daily {
        @apply gap-x-4 grid grid-cols-7;

        .day {
            @apply outline-box px-2.5 py-4 rounded-xl text-center;

            .icon {
                @apply inline-block h-[60px] my-4 w-[60px];
            }
        }
    }

    .hourly {
        .hour {
            @apply flex flex-nowrap h-[60px] items-center justify-between mt-4 outline-box-2 pl-[60px] pr-4 py-2.5 relative rounded-lg;

            .icon {
                @apply absolute h-10 w-10 left-3;
            }
        }
    }
}
